
<div class="container panel panel-default">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded justify-content-between">
    <a class="navbar-brand" routerLink="/">{{message}}</a>
    <form class="form-inline">
        
      
        
      <div>      

      <button routerLink="login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Post New</button>
     
      </div>
      
    </form>
  </nav>
  <div class="container border border-dark rounded col-sm-12">
    
    </div>
</div>
