<p>donations</p>
<div class="container panel panel-default">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded justify-content-between">
        <p class="navbar-brand">Donations Status</p>
        
        </nav>
        <div class="container border border-dark rounded col-sm-12">
        <div >
        <div *ngFor="let blog of blogs">
            <div class="row border border-dark rounded col-sm-12 ml-sm-1 mt-sm-2 p-3 mb-sm-2">
        
                
                    <div class="table">
                        <tr>
                            <th>Request ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Contact no</th>
                            <th>Purpose</th>
                            <th>No of servings</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>

        </div>
    
</div>