<div class="container justify-content-center">
<h1>User Registration</h1>
<form class="form-horizontal" #registerForm="ngForm" (ngSubmit)="validate(registerForm)">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">First Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" [(ngModel)]="u.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && firstName.invalid }" required>
      
      <div *ngIf="registerForm.submitted && firstName.invalid" class="invalid-feedback">
        <div *ngIf="firstName.errors.required">First Name is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="lastName">Last Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="Enter Last Name" name="lastName" [(ngModel)]="u.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && lastName.invalid }" required>
      <div *ngIf="registerForm.submitted && lastName.invalid" class="text-danger">
        <div *ngIf="lastName.errors.required">Last Name is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Date of Birth:</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" placeholder="Enter Date of birth" name="dob" [(ngModel)]="u.dob" #dob="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && dob.invalid }" required>
      <div *ngIf="registerForm.submitted && dob.invalid" class="invalid-feedback">
        <div *ngIf="dob.errors.required">Date of Birth is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Gender:</label>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" ngModel  id="flexRadioDefault1" (change)="assignGender('Male')" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" ngModel  (change)="assignGender('Female')"id="flexRadioDefault2" >
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter Email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" name="email" [(ngModel)]="u.emailId" #email="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required>
      <div *ngIf="registerForm.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.pattern">Enter a valid email</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="contactNo">Contact no:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter Contact No" pattern="[0-9]{10}"name="contactNo" [(ngModel)]="u.contactNo" #contactNo="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && contactNo.invalid }" required>
      <div *ngIf="registerForm.submitted && contactNo.invalid" class="invalid-feedback">
        <div *ngIf="contactNo.errors.required">Contact Number is required</div>
        <div *ngIf="contactNo.errors.pattern">Contact Number should contain only digits</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">User Category:</label>
    <div class="col-sm-10">
      <select class="form-select" aria-label="Default select example" >
        <option value="Food Donor" selected ngModel [(ngModel)]="u.userId">Food Donor</option>
        <option value="NGO PoC">NGO PoC</option>
        <option value="Logistics Sponser">Logistics Sponser</option>
      </select>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="userName">User Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter username" name="userName" [(ngModel)]="u.userId" #userName="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && userName.invalid }" required>
      <div *ngIf="registerForm.submitted && userName.invalid" class="invalid-feedback">
        <div *ngIf="dob.errors.required">Username is required</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control"  placeholder="Enter Password" name="password" [(ngModel)]="u.password" #password="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required>
      <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
    </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="cpwd" placeholder="Enter Password">
    </div>
  </div> -->
  <div class="form-group">
    <label class="control-label col-sm-4" for="sq1">What is your nick name ?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter Answer" name="sq1" [(ngModel)]="u.sq1" #sq1="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && sq1.invalid }" required>
      <div *ngIf="registerForm.submitted && sq1.invalid" class="invalid-feedback">
        <div *ngIf="sq1.errors.required">Answer is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="uname">What is your first school name ?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter Answer" name="sq2" [(ngModel)]="u.sq2" #sq2="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && sq2.invalid }" required>
      <div *ngIf="registerForm.submitted && sq2.invalid" class="invalid-feedback">
        <div *ngIf="sq2.errors.required">Answer is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="uname">What is your favourite colour ?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Enter Answer" name="sq3" [(ngModel)]="u.sq3" #sq3="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && sq3.invalid }" required>
      <div *ngIf="registerForm.submitted && sq3.invalid" class="invalid-feedback">
        <div *ngIf="sq3.errors.required">Answer is required</div>
    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>