<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form class="form-example" action="" method="post">
                <h1>PASSWORD RECOVERY</h1>
               
                <!-- Input fields -->
                
                <div class="form-group">
                    <label for="Emailid">Userid:</label>
                    <input type="text" class="form-control email" id="Userid" placeholder="Userid..."
                        name="Userid">
                </div>
                <div class="form-group">
                    <label for="SQ1">What is  your nick name ?</label>
                    <input type="text" class="form-control text" id="SQ1" placeholder="ENTER ANSWER..."
                        name="SQ1">
                </div>
                <div class="form-group">
                    <label for="SQ2">What is your first school name ?</label>
                    <input type="text" class="form-control text" id="SQ2" placeholder="ENTER ANSWER..."
                        name="SQ2">
                </div>
                <div class="form-group">
                    <label for="SQ3">What is your favourite colour ?</label>
                    <input type="text" class="form-control text" id="SQ3" placeholder="ENTER ANSWER..."
                        name="SQ3">
                </div>
                <button type="submit" class="btn btn-primary btn-customized">SUBMIT</button>
                
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>

