<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form class="form-example" action="" method="post" #forgotpasswordform="ngForm" novalidate
                (ngSubmit)="onSubmit(forgotpasswordform)">
                <h1>PASSWORD RECOVERY</h1>

                <!-- Input fields -->

                <div class="form-group">
                    <label for="Emailid">User Id:</label>
                    <input type="text" class="form-control email" id="userid" name="userid" required
                        placeholder="Userid..." #email="ngModel" [(ngModel)]="user.userId">
                    <small class="text-danger" *ngIf="email.invalid && email.touched">
                        <small *ngIf="email.errors.required" class="text-danger">Email is mandatory</small>
                    </small>

                </div>
                <div class="form-group">
                    <label for="SQ1">What is your nick name ?</label>
                    <input type="text" class="form-control text" id="SQ1" name="sq1" placeholder="ENTER ANSWER..."
                        #sq1="ngModel" required [(ngModel)]="user.sq1" name="SQ1">
                    <small *ngIf="sq1.invalid && sq1.touched" class="text-danger">Please answer this quiestion</small>
                </div>
                <div class="form-group">
                    <label for="SQ2">What is your first school name ?</label>
                    <input type="text" class="form-control text" id="SQ2" name="sq2" #sq2="ngModel"
                        placeholder="ENTER ANSWER..." required [(ngModel)]="user.sq2" name="SQ2">
                    <small *ngIf="sq2.invalid && sq2.touched" class="text-danger">Please answer this question</small>

                </div>
                <div class="form-group">
                    <label for="SQ3">What is your favourite colour ?</label>
                    <input type="text" class="form-control text" id="SQ3" name="sq3" placeholder="ENTER ANSWER..."
                        required #sq3="ngModel" [(ngModel)]="user.sq3" name="SQ3">
                    <small *ngIf="sq3.invalid && sq3.touched" class="text-danger">Please answer this question</small>

                </div>
                <button type="submit" [disabled]="forgotpasswordform.form.invalid"
                    class="btn btn-primary btn-customized">SUBMIT</button>

            </form>
            <!-- Form end -->
            <div *ngIf="flag" class="text-danger">{{message}}</div>
        </div>
    </div>
</div>