
<div class="container panel panel-default">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded justify-content-between">
        <p class="navbar-brand">Blogs</p>
        <button *ngIf="viewFlag" class="btn btn-outline-primary my-2 my-sm-0" (click)="populateBlogs()" type="submit">View All
            Blogs</button>
        </nav>
        <div class="container border border-dark rounded col-sm-12">
        <div *ngIf="homeFlag">
        <div *ngFor="let blog of blogs">
            <div class="row border border-dark rounded col-sm-12 ml-sm-1 mt-sm-2 p-3 mb-sm-2">
        
                <div class="col-sm-6 text-dark text-center">
                    <p>{{blog.blog_Title}}</p>
                </div>
                <div class="col-sm-2 text-center font-weight-bold">
                    <button class="btn btn-outline-primary my-2 my-sm-0" (click)="viewBlog(blog.blog_ID)">VIEW</button>
                </div>
            </div>
        </div>
        </div>


        <div *ngIf="viewFlag" class="container h-100 ">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <!-- Form -->
                    <h1 class="text-center">{{blog.blog_Title}}</h1>
                    <p>{{blog.description}}</p>

                    <!-- Form end -->
                </div>
            </div>
        </div>

        </div>
    
</div>